# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\School V2\Semester 2\COMP1008\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
